.controls {
  flex-basis: 270px;
  padding: 0 5px;
  min-height: 100vh;
  font-size: 0.8rem;
  z-index: 2;
}

.controls .toolbar button.icon {
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 2px 5px;
  background-color: transparent;
}

.controls .toolbar button.icon:hover {
  border: 1px solid grey;
  color: rgb(65, 65, 189);
}

.controls label {
  font-size: smaller;
}

.controls fieldset {
  border-radius: 5px;
}

.controls .filters ul {
  margin: 0;
  padding-left: 12px;
}

.controls .filters li {
  margin: 0;
  padding-left: 0px;
  list-style: none;
}

.controls .filters .color {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid black;
  margin-left: -10px;
  margin-right: 3px;
}

.controls .filters .type {
  color: blueviolet;
}
.controls .filters .property {
  color: cadetblue;
}
.controls .filters .operation {
  font-weight: bolder;
}
.controls .filters .value {
  color: cadetblue;
}
.controls .filters .count * {
  padding-right: 5px;
}
