html {
    width: 100%;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: sans-serif;
    font-size: 75%;
}

:host {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: sans-serif;
}
