<div class="temp" style="position: fixed; top:2px; right: 5px; z-index: 1;">
    <a title="Repositório" href="https://gitlab.com/marcosalpereira/ngx-sigma" target="_blank">
        <i class="fab fa-gitlab"></i>
    </a>
</div>
<div class="breadcrumb">

</div>
<div class="controls">
    <fieldset>
        <legend>Toolbar</legend>
        <div class="toolbar">
            <button class="icon" title="Salvar" (click)="onSaveState()">
                <i class="fa fa-save"></i>
            </button>
            <button class="icon" title="Carregar" (click)="fileUpload.click()">
                <i class="fa fa-download"></i>
            </button>
            <input #fileUpload accept="text/json" type='file' (change)="onLoadState($event)"
                style="display: none;">
        </div>
    </fieldset>
    <fieldset>
        <legend>Opções</legend>
        <div>
            <label>Modo Anexar
                <input [checked]="options.appendMode" (change)="onChangeAppendMode($event.target.checked)"
                    type="checkbox">
            </label>
        </div>
        <div>
            <label>Nome nos nós
                <input [checked]="options.showNodeText" (change)="onChangeShowNodeText($event.target.checked)"
                    type="checkbox">
            </label>
        </div>
        <div>
            <label>Nome nas arestas
                <input [checked]="options.showEdgeText" (change)="onChangeShowEdgeText($event.target.checked)"
                    type="checkbox">
            </label>
        </div>
        <div>
            <label>Layout Dinâmico
                <input [checked]="options.dynamicLayout"
                    (change)="onChangeDynamicLayout($event.target.checked)" type="checkbox">
            </label>
        </div>
        <div>
            <label>Auto Expansão
                <input [checked]="options.autoExpand"
                    (change)="onChangeAutoExpand($event.target.checked)" type="checkbox">
            </label>
        </div>
    </fieldset>

    <fieldset *ngIf="keyWords">
        <legend>Estatísticas</legend>
        <div>
            <label title="Itens no Gráfico (nós,arestas)">Itens no Gráfico:
                ({{nodesLength}},{{edgesLength}})</label>
        </div>
    </fieldset>

    <fieldset *ngIf="keyWords">
        <legend>Aplicar Filtros</legend>
        <div>
            <label>Tipo:
                <div>
                    <select #type name="type">
                        <option *ngFor="let tipo of filterTypes" [ngValue]="tipo">{{tipo}}</option>
                    </select>
                </div>
            </label>
        </div>
        <div>
            <label>Buscar por propriedades em:
                <div>
                    <select #searchType="ngModel" name="searchType" ngModel
                        (change)="onSearchTypeChange(searchType.value)">
                        <option [ngValue]="'node'">Nós</option>
                        <option [ngValue]="'edge'">Arestas</option>
                    </select>
                </div>
            </label>
        </div>
        <div>
            <label>Propriedade:
                <div>
                    <select #keyWord="ngModel" name="keyWord" ngModel
                        (change)="onKeyWordChange(keyWord.value)">
                        <option *ngFor="let keyWord of keyWords" [ngValue]="keyWord">
                            {{keyWord.label}}
                        </option>
                    </select>
                </div>
            </label>
        </div>
        <div>
            <label>Operação:
                <div>
                    <select #operation name="operation">
                        <option *ngFor="let operation of operations; let first=first" [ngValue]="operation">
                            {{operation}}</option>
                    </select>
                </div>
            </label>
        </div>
        <div>
            <label>Valor:
                <div>
                    <input #searchedValue name="searchedValue" ngModel type="text" size="12">
                </div>
            </label>
        </div>

        <div>
            <label>Aplicar Inverso
                <input #inverse name="inverse" type="checkbox">
            </label>
        </div>
        <div>
            <button
                (click)="onAddFilterClick(searchType.value, type.value, keyWord.value, inverse, operation.value, searchedValue.value)">Adicionar</button>
            <div style="color: red">
                {{errorMessage}}
            </div>
        </div>
    </fieldset>

    <fieldset *ngIf="filters?.length" class="filters">
        <legend>Filtros</legend>
        <ul>
            <li *ngFor="let filter of filters; let last = last">
                <div>
                    <span title="Cor aplicada" class="color"
                        [ngStyle]="{'background-color': filter.color}"></span>
                    <span title="Tipo do filtro" class="type">{{filter.filterType}}:</span>
                    <span *ngIf="filter.inverse" class="operation">inverso</span>
                    <input [checked]="filter.active" type="checkbox" [disabled]="!last"
                        (change)="onFilterChange(filter, $event)">
                    <button class="icon" *ngIf="last" title="Remover Filtro"
                        (click)="onRemoveFilterClick(filter)">
                        <i class="fa fa-trash"></i>
                    </button>
                    <div>
                        <span class="property">{{filter.propertyLabel}}</span>
                        <span class="operation">{{filter.operation}}</span>
                        <span class="value">{{filter.searchedValue}}</span>
                    </div>
                    <div class="count">
                        <span
                            title="Itens atendem a condição">{{filter.itemsIds.sourceNodesIds.length}}</span>
                        <span>&#8680;</span>
                        <span title="Itens afetados">{{filter.itemsIds.nodesIds.length}}</span>
                        <span>/</span>
                        <span
                            title="Total Itens no Gráfico no momento do filtro">{{filter.nodesLength}}</span>
                    </div>
                </div>
            </li>
        </ul>
    </fieldset>
</div>

<ngs-graph #graph (nodeClick)="onNodeClick($event)" (dataLoaded)="onDataLoaded($event)" [options]="options"
    [data]="data">
</ngs-graph>